   .header-container {
     display: flex;
     align-items: center;
     height: 50px;
     background: #fff;
     border-bottom: 1px solid #ddd;
     padding: 0 15px;
     transition: width 0.3s ease-in-out;
   }



   .collapsed {
     width: 90%;
   }

   .toggle-icon {
     font-size: 18px;
     cursor: pointer;
     margin-right: 10px;
   }

   .home-icon {
     font-size: 20px;
     margin-right: 10px;
   }

   .breadcrumb {
     font-size: 14px;
     font-weight: 500;
     margin-right: 8px;
   }

   .breadcrumb-arrow {
     font-size: 12px;
     margin-right: 8px;
   }

   .breadcrumb.active {
     font-weight: bold;
   }